Cython
librosa==0.9.2
matplotlib
phonemizer
scipy
tensorboard
-f https://download.pytorch.org/whl/cu118/torch_stable.html
torch==2.1.0+cu118
torchaudio==2.1.0+cu118
Unidecode
retry
tqdm
resampy
psutil
protobuf
numpy
pyopenjtalk
pyworld
h5py
onnx
onnxsim
onnxruntime
